body {
    font-family: 'Impact', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#app-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    font-family: 'Impact', sans-serif;
    color: black;
    margin-top: 20px;
    letter-spacing: 2px; /* Increased spacing for "Join The Troll Army" */
}

canvas {
    border: 4px solid black; /* 4 pixels border */
    border-radius: 8px; /* Rounded corners */
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Impact', sans-serif;
    letter-spacing: 2px; /* Increased spacing for button fonts */
    border-radius: 8px; /* Rounded corners for buttons */
}

button:hover {
    opacity: 0.8;
}

input[type="file"] {
    display: block;
    margin: 0 auto; /* Center the "choose file" button and "no file chosen" */
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    button {
        padding: 8px;
        margin: 3px;
        font-size: 14px;
    }

    canvas {
        width: 90%;
        height: auto;
    }
}
